html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.article{
    background-color: #9277c4;
    position: fixed;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid #488711;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.text{
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    text-align: left;
    border: 1px solid #9277c4;
}